.highlight {
    margin-bottom: 25px !important;
}

table:has(thead) {
    margin-top: -20px;
}

.first-entry {
    min-height: 0;
}

.post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    margin-top: 50px !important;
}